{{ define "main" }}
  <article>
    <h1>Liste des posts</h1>
    <ul class="posts-list">

        {{ range where .Pages "Section" "!="  "menu" }}
        <li class="posts-list-item">
            <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ .PublishDate.Format "Monday 02 January 2006" }}
            —
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read
          </span>
        </li>
        {{ end }}

    </ul>
  </article>
{{ end }}
